  <body>
    <div class="container">

      <div id="home-page">
        <h1>Media Mash</h1>
        <p class="lead">Shared photo albums. <br /> Easily share photos with your friends and family.</p>
      </div>

    </div><!-- /.container -->
</body>