<%= simple_form_for [@user, @album], :html => { :class => 'form-horizontal' } do |f| %>

   <%= f.input :name %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_albums_path(current_user), :class => 'btn' %>
  </div>
<% end %>
